body {
    background-color: rgb(253, 217, 175);
  }
 
  h1 {
      color: rgb(117, 49, 0);
      font-style: inherit;
  }

  h3 {
      color: rgb(117, 49, 0);
  }
  hr {
      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      width: 7% ;
      
  }

  img {
       height: 230px;
  }